<div class="new-rating">
	<i class="fa fa-heart fa-2x" aria-hidden="true" data-rate="1"></i>
	<i class="fa fa-heart fa-2x" aria-hidden="true" data-rate="2"></i>
	<i class="fa fa-heart fa-2x" aria-hidden="true" data-rate="3"></i>
	<i class="fa fa-heart fa-2x" aria-hidden="true" data-rate="4"></i>
	<i class="fa fa-heart fa-2x" aria-hidden="true" data-rate="5"></i>
	<span id="rate-btn" data-token="<%= form_authenticity_token.to_s %>"><%= t("Rate_it") %></span>
</div>
<div class="share-link">
    <span><%= t("Share_Article_To") %>:</span>
    <hr/>
    <button id="facebook-share" class="btn btn-sm"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i> <%= t("facebook") %></button>
    <button id="weibo-share" class="btn btn-sm"><i class="fa fa-weibo fa-lg" aria-hidden="true"></i> <%= t("weibo") %></button>
    <button id="copy-share" class="btn btn-sm"><i class="fa fa-link fa-lg" aria-hidden="true"></i> <%= t("copy_link") %></button>
</div>