<div class="new-rating hide">
	<%= image_tag "sneakergray.png", :height => "32", :data => {:rate => 1} %>
	<%= image_tag "sneakergray.png", :height => "32", :data => {:rate => 2} %>
	<%= image_tag "sneakergray.png", :height => "32", :data => {:rate => 3} %>
	<%= image_tag "sneakergray.png", :height => "32", :data => {:rate => 4} %>
	<%= image_tag "sneakergray.png", :height => "32", :data => {:rate => 5} %>
	<span id="rate-btn" data-token="<%= form_authenticity_token.to_s %>"><%= t("Rate_it") %></span>
</div>
<div class="share-link">
    <span><%= t("Share_Article_To") %>:</span>
    <hr/>
    <button id="facebook-share" class="btn btn-sm"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i> <%= t("facebook") %></button>
    <button id="weibo-share" class="btn btn-sm"><i class="fa fa-weibo fa-lg" aria-hidden="true"></i> <%= t("weibo") %></button>
    <button id="tieba-share" class="btn btn-sm"><i class="fa fa-paw fa-lg" aria-hidden="true"></i> <%= t("tieba") %></button>
    <button id="copy-share" class="btn btn-sm"><i class="fa fa-link fa-lg" aria-hidden="true"></i> <%= t("copy_link") %></button>
</div>