<% content_for :head do %>
    <%= stylesheet_link_tag "calendar.css" %>
<% end %>

<%= hidden_field_tag "page_source", "calendar" %>

<div class="main container">
<h1 class="header"></h1>
<div class="kicks-switch active">
  <input type="checkbox" checked class="switch-checkbox"/>
  <span class="switch-btn"></span>
</div>
<br/>
<div class="opening-scene modal">
  <span data-text="<%= t('Click_switch_to_change_mode') %>"><%= t("Click_switch_to_change_mode") %></span>
</div>
<span class="press-warning" data-calendar="<%= t('Switch_to_Calendar_Mode') %>" data-image="<%= t('Switch_to_Image_Mode') %>"><%= raw t("Switch_to_Image_Mode") %></span>
<div id="calendar"></div>
<div id="release-modal" class="modal fade" role="dialog">
  	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal">&times;</button>
        		<h4 class="modal-title"></h4>
      		</div>
      		<div class="modal-body">
            <img src=""/>  
          </div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      		</div>
    	</div>
  	</div>
</div>
</div>

<% content_for :end_of_body do %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <%= javascript_include_tag "calendar.js" %>
<% end %>