<% content_for :head do %>
    <%= stylesheet_link_tag "contact.css" %>
<% end %>

<%= hidden_field_tag "page_source", "contact" %>

<div class="main container">
    <div class="kicks-contact">
        <div class="kicks-contact-row header">
            <h1><%= t("Contact_Us") %> &nbsp;</h1>
            <h3><%= t("contact_us_message") %></h3>
        </div>
        <div class="kicks-contact-row body">
            <%= form_tag url_for(:controller => "main", :action => "send_contact_us"), :id => "contact-form", :method => "post" do %>
                <ul>
                    <li>
                        <p class="left">
                            <label for="first_name"><%= @contact_placeholder[:first_name_label] %></label>
                            <input type="text" name="first_name" placeholder="<%= @contact_placeholder[:first_name_placeholder] %>" />
                        </p>
                        <p class="pull-right">
                            <label for="last_name"><%= @contact_placeholder[:last_name_label] %></label>
                            <input type="text" name="last_name" placeholder="<%= @contact_placeholder[:last_name_placeholder] %>" />
                        </p>
                    </li>
                    <li>
                        <p>
                            <label for="email"><%= @contact_placeholder[:email_label] %> <span class="req">*</span></label>
                            <input type="email" name="email" placeholder="<%= @contact_placeholder[:email_placeholder] %>" required/>
                        </p>
                    </li>
                    <li><div class="divider"></div></li>
                    <li>
                        <label for="comments"><%= @contact_placeholder[:comments_label] %> <span class="req">*</span></label>
                        <textarea cols="46" rows="3" name="comments" required></textarea>
                    </li>
                    <li>
                        <%= submit_tag t("Submit"), :class => "btn btn-submit" %>
                        <small><%= raw @contact_placeholder[:enter_message] %></small>
                    </li>
                </ul>
            <% end %>
        </div>
    </div>
    <div id="aboutus-accordion" role="tablist">
        <div class="card">
            <div class="card-header" href="#aboutus-collapse-1" role="tab" data-toggle="collapse" data-parent="#aboutus-accordion" aria-expanded="true">
                <h4>
                    <a>
                        <%= t("About_Us") %>
                    </a>
                </h4>
            </div>
            <div id="aboutus-collapse-1" class="collapse in" role="tabpanel">
                <div class="card-block">
                    <%= raw t("about_us_1") %>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" class="collapsed" data-toggle="collapse" data-parent="#aboutus-accordion" href="#aboutus-collapse-2" aria-expanded="false">
                <h4>
                    <a>
                        <%= t("about_us_2") %>
                    </a>
                </h4>
            </div>
            <div id="aboutus-collapse-2" class="collapse" role="tabpanel">
                <div class="card-block">
                    <%= raw t("about_us_3") %>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab"  class="collapsed" data-toggle="collapse" data-parent="#aboutus-accordion" href="#aboutus-collapse-3" aria-expanded="false">
                <h4>
                    <a>
                        <%= t("about_us_4") %>
                    </a>
                </h4>
            </div>
            <div id="aboutus-collapse-3" class="collapse" role="tabpanel">
                <div class="card-block">
                    <%= raw t("about_us_5") %>
                </div>
            </div>
        </div>
    </div>
</div>

<% content_for :end_of_body do %>
    <%= javascript_include_tag "contact.js" %>
<% end %>
