<% content_for :head do %>
    <%= stylesheet_link_tag "feature.css" %>
<% end %>

<%= hidden_field_tag "page_source", "feature" %>

<div class="main container clearfix">
    <!-- maximum should be three only (more will be loaded by ajax) -->
    <% @feature_posts.each_with_index do |feature_post, index| %>
        <% feature_post.content = feature_post.content.blank? ? "" : feature_post.content[0][0..120].strip %>
        <% left = (index%2 == 0) %>
        <div class="kicks-post <%= ' alt' unless left %>">
            <a href="/features/<%= feature_post.id %>">
                <div class="photo<%= left ? ' photo-left' : ' photo-right' %>" style="background-image:url('<%= feature_post.cover_image.url %>');background-size:cover;background-position:center"></div>
            </a>
            <div class="kicks-post-content">
                <a href="/features/<%= feature_post.id %>"><h1><%= feature_post.title %></h1></a>
                <h2><%= feature_post.created_at.strftime("%Y-%m-%d") %></h2>
                <div class="rating">
                    <% score = (feature_post.rates.average(:score) || 0).ceil %>
                    <% (1..score).each do |i| %>
                        <i class="fa fa-heart" style="color:pink" aria-hidden="true"></i>
                    <% end %>
                    <% (score+1..5).each do |i| %>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    <% end %>
                </div>
                <p><%= ActionView::Base.full_sanitizer.sanitize(feature_post.content) %>...</p>
                <a href="/features/<%= feature_post.id %>" class="kicks-post-more"><%= t("more") %></a>
            </div>
        </div>
    <% end %>
    <% unless @feature_posts.total_pages == @feature_posts.current_page %>
        <div class="to-view-more current">
            <span><%= t("Click_to_view_more") %> <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></span>
        </div>
    <% end %>
    <%= hidden_field_tag "next_page", "2", :name => nil, :autocomplete => "off" %>
</div>

<% content_for :end_of_body do %>
    <%= javascript_include_tag "feature.js" %>
<% end %>