<% content_for :head do %>
    <%= stylesheet_link_tag "feature.css" %>
<% end %>

<%= hidden_field_tag "page_source", "feature" %>

<div class="main container clearfix">
    <!-- maximum should be three only (more will be loaded by ajax) -->
    <% @feature_posts.each_with_index do |feature_post, index| %>
        <% left = (index%2 == 0) %>
        <div class="kicks-post <%= ' alt' unless left %>">
            <div class="photo<%= left ? ' photo-left' : ' photo-right' %>" style="background-image:url('<%= feature_post.cover_image.url %>');background-size:cover;background-position:center"></div>
            <div class="kicks-post-content">
                <a href="/features/<%= feature_post.id %>"><h1><%= feature_post.title %></h1></a>
                <h2><%= feature_post.created_at.strftime("%Y-%m-%d") %></h2>
                <p><%= feature_post.content[0][0..120] %>...</p>
                <a href="/features/<%= feature_post.id %>" class="kicks-post-more"><%= t("more") %></a>
            </div>
        </div>
    <% end %>
    <% unless @feature_posts.total_pages == @feature_posts.current_page %>
        <div class="to-view-more">
            <span><%= t("Click_to_view_more") %> <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></span>
        </div>
    <% end %>
    <%= hidden_field_tag "next_page", "2", :name => nil %>
</div>

<% content_for :end_of_body do %>
    <%= javascript_include_tag "feature.js" %>
<% end %>