<% content_for :head do %>
    <%= stylesheet_link_tag "feature.css" %>
<% end %>

<a name="home"></a>
<div class="header">
</div>
    
<div class="main clearfix">
    <!-- maximum should be three only (more will be loaded by ajax) -->
    <% @all_feature_posts.each_with_index do |feature_post, index| %>
        <% next if index > 2 %>
        <div class="kicks-box clearfix">
            <dl>
                <dt>
                    <a href="#">
                        <%= image_tag "feature_post/#{feature_post.image}", :style => "width:100%" %>
                        <div class="filter">
                            <p>PlaceHolder></p>
                        </div>
                    </a>
                </dt>
                <dd>
                    <a href="#">PlaceHolder</a>
                </dd>
            </dl>
            <div class="kicks-intro">
                <h2><%= feature_post.title %></h2>
                <div class="kicks-intro-content">
                    <span><%= feature_post.content %></span>
                </div>
            </div>
        </div>
    <% end %>
    <% unless @all_feature_posts[3].nil? %>
        <div class="to-view-more">
            <span>Click To View More</span>
        </div>
    <% end %>
    <%= hidden_field_tag "feature_post_index", "3", :name => nil %>
</div>

<% content_for :end_of_body do %>
    <%= javascript_include_tag "feature.js" %>
<% end %>