<% content_for :head do %>
    <%= stylesheet_link_tag "feature.css" %>
<% end %>
    
<div class="main clearfix">
    <!-- maximum should be three only (more will be loaded by ajax) -->
    <% @feature_posts.each_with_index do |feature_post, index| %>
        <div class="kicks-box clearfix<%=' last' if index == @feature_posts.size-1%>">
            <dl class="col-xs-12 col-sm-4">
                <dt>
                    <img src="<%= feature_post.cover_image.url %>" class="kicks-pic"/>
                </dt>
                <dd>
                    <a href="#">PlaceHolder</a>
                </dd>
            </dl>
            <div class="col-xs-12 col-sm-8 kicks-intro">
                <h2><%= feature_post.title %></h2>
                <div class="kicks-intro-content">
                    <span><%= feature_post.content %></span>
                </div>
            </div>
        </div>
    <% end %>
    <% unless @feature_posts.total_pages == @feature_posts.current_page %>
        <div class="to-view-more">
            <span>Click To View More</span>
        </div>
    <% end %>
    <%= hidden_field_tag "next_page", "2", :name => nil %>
</div>

<% content_for :end_of_body do %>
    <%= javascript_include_tag "feature.js" %>
<% end %>