<% content_for :head do %>
    <%= stylesheet_link_tag "show.css" %>
<% end %>

<article class="main container">
    <header>
        <span class="category"><i class="fa fa-tags" aria-hidden="true"></i><%= @category %></span>
        <%= render "rating" %>
        <h1><%= @article_title %></h1>
        <div class="meta">
            <span class="author">
              <%= t("by") %> <i class="author-name"><%= @feature_post.author.nil? || @feature_post.author.username.empty? ? "Kicks4Love鞋侣" : @feature_post.author.username %></i>
            </span>
            <span class="pub-date"><%= "#{t("posted")} #{@feature_post.created_at.strftime("%Y-%m-%d")}" %></span>
        </div>
    </header>
	<% image_index = paragraph_index = 0 %>
    <% @feature_post.post_composition.each do |index, hash| %>
    	<% if hash['type'] == 'image' %>
            <figure class="load-image">
                <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
    		    <%= image_tag @feature_post.main_images[image_index].url %>
    		    <% image_index += 1 %>
            </figure>
    	<% else %>
    		<p><%= @content.blank? || @content[paragraph_index].nil? ? "" : @content[paragraph_index].html_safe %></p>
    		<% paragraph_index += 1 %>
    	<% end %>
    <% end %>
    <%= render "share" %>
</article>

<% content_for :end_of_body do %>
    <%= javascript_include_tag "show.js" %>
<% end %>
