<% content_for :head do %>
    <%= stylesheet_link_tag "index.css" %>
<% end %>

<%= hidden_field_tag "page_source", "index" %>

<a name="home"></a>
<div class="header">
    <div class="slide-container">
        <div id="wrapper">
            <div id="slider-wrap" class="active">
                <ul id="slider">
                    <% @posts.each do |post| %>
                        <%
                            case post.pointer_type
                            when "FEATURES"
                                url = "/features/#{post.pointer_id}"
                            when "CALENDAR"
                                date = CalendarPost.find_by_id(post.pointer_id).release_date.strftime("%Y-%m-%d")
                                url = "/calendar?date=#{date}"
                            when "TREND"
                                url = "/trend/#{post.pointer_id}"
                            when "ON_COURT"
                                url = "/oncourt/#{post.pointer_id}"
                            when "STREET_SNAP"
                                url = "/streetsnap/#{post.pointer_id}"
                            else
                                url = "/rumors/#{post.pointer_id}"
                            end
                        %>
                        <li style="background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(<%= post.image.url %>)">
                            <a href="<%= url %>">
                                <div class="slide-filter">
                                    <h3 class="verticle-center"><%= @chinese ? post.title_cn : post.title_en %></h3>
                                </div>
                            </a>
                        </li>
                    <% end %>
                </ul>
                <div class="slide-btns" id="next"><i class="fa fa-arrow-right"></i></div>
                <div class="slide-btns" id="previous"><i class="fa fa-arrow-left"></i></div>
                <div id="pagination-wrap">
                    <ul></ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main container">
    <!--<ins class="adsbygoogle index-ad" style="display:block" data-ad-client="ca-pub-4802332774820705" data-ad-slot="7048272677" data-ad-format="auto"></ins>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>-->
    <div class="row">
        <% @news.each do |news| %>
            <div class="banner-box col-xs-4">
                <div class="new-box" style="background-image:url('<%= news.image.url %>')">
                    <%
                        case news.pointer_type
                        when "FEATURES"
                            url = "/features/#{news.pointer_id}"
                        when "CALENDAR"
                            date = CalendarPost.find_by_id(news.pointer_id).release_date.strftime("%Y-%m-%d")
                            url = "/calendar?date=#{date}"
                        when "TREND"
                            url = "/trend/#{news.pointer_id}"
                        when "ON_COURT"
                            url = "/oncourt/#{news.pointer_id}"
                        when "STREET_SNAP"
                            url = "/streetsnap/#{news.pointer_id}"
                        else
                            url = "/rumors/#{news.pointer_id}"
                        end
                    %>
                    <a href="<%= url %>">
                        <div class="kicks-filter">
                            <h3 class="verticle-center"><%= @chinese ? news.title_cn : news.title_en %></h3>
                        </div>
                    </a>
                </div>
            </div>
        <% end %>
    </div>

    <!-- maximum should be three only (more will be loaded by ajax) -->
    <% @feeds.each_with_index do |feed, index| %>
        <% feed.content = feed.content.blank? ? "" : feed.content[0][0..120].strip %>
        <div class="kicks-box clearfix<%=' last' if index == @feeds.size-1%>">
            <%
                case feed.class.name
                when "FeaturePost"
                    link = "/features/#{feed.id}"
                    tag = "Features"
                when "TrendPost"
                    link = "/trend/#{feed.id}"
                    tag = "Trend"
                when "OnCourtPost"
                    link = "/oncourt/#{feed.id}"
                    tag = "On_Court"
                when "StreetSnapPost"
                    link = "/streetsnap/#{feed.id}"
                    tag = "Street_Snap"
                else
                    link = "/rumors/#{feed.id}"
                    tag = "Rumors"
                end
            %>
            <a href="<%= link %>">
                <%= image_tag feed.cover_image.url, :class => "col-xs-12 col-sm-4 kicks-pic" %>
            </a>
            <div class="col-xs-12 col-sm-8 kicks-intro">
                <a href="<%= link %>">
                    <div class="feed-title">
                        <h3><%= feed.title %></h3>
                    </div>
                </a>
                <hr class="title-divider">
                <div class="kicks-intro-content">
                    <p><%= ActionView::Base.full_sanitizer.sanitize(feed.content) %>... <a href="<%= link %>">(<%= t("more") %>)</a><span class="post-date"><%= feed.created_at.strftime("%Y-%m-%d") %></span></p>
                    <br/>
                    <i class="fa fa-tags" aria-hidden="true"></i><span class="post-tag"><%= t(tag) %></span>
                    <div class="rating"><%= (feed.rates.average(:score) || 0).round(1) %>/5.0 <%= image_tag "sneakerblack.png", :height => "15" %></div>
                </div>
            </div>
        </div>
    <% end %>
    <% unless @no_more  %>
        <div class="to-view-more current">
            <span><%= t("Click_to_view_more") %> <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></span>
        </div>
    <% end %>
    <%= hidden_field_tag "next_page", "2", :name => nil, :autocomplete => "off" %>
</div>

<% content_for :end_of_body do %>
    <%= javascript_include_tag "index.js" %>
<% end %>