<% content_for :head do %>
    <%= stylesheet_link_tag "main.css" %>
<% end %>

<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation" style="height: 70px;">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse clearfix" id="bs-example-navbar-collapse-1" style="position: absolute; margin-left:0; transform: translateY(-45%)">
            <%= link_to image_tag("logo.png"), :root, :class => "logo-link" %> 
            <ul class="nav navbar-nav navbar-right">
                <li class="first">
                    <a href="index.html">HOME</a>
                </li>
                <li>
                    <a href="featured.html">FEATURES</a>
                </li>
                <li>
                    <a href="trend.html">TREND</a>
                </li>
                <li class="last">
                    <a href="upcoming.html">UPCOMING</a>
                </li>
                <li>
                    <a href="oncourt.html">ON-COURT</a>
                </li>
                <li>
                    <a href="streetsnap.html">STREET-SNAP</a>
                </li>
                <li class="last">
                    <a href="rumors.html">RUMORS</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<a name="home"></a>
<div class="header">
    <div class="slide-bar-container">
    	<ul class="clearfix">
            <% @news_posts.each_with_index do |news_post, index| %>
                <li><%= image_tag "post/#{news_post.image}" %><%= index %></li>
                <div class="slide-filter"></div>
                <a href="#"><p><%= news_post.title %></p></a>
            <% end %>
        </ul>
        <ol class="clearfix">
        	<li>●</li>
            <li>●</li>
            <li>●</li>
            <li>●</li>
            <li>●</li>
        </ol>
    </div>
</div>

<div class="main">
    <div class="banner-box clearfix">
        <div class="new-box" style="margin-right:5%;">
            <%= image_tag "small-news1", :style => "width:100%" %>
        </div>
        <div class="new-box" style="margin-right:5%;">
            <%= image_tag "small-news1", :style => "width:100%" %>
        </div>
        <div class="new-box">
            <%= image_tag "small-news1", :style => "width:100%" %>
        </div>
    </div>

    <!-- maximum should be three only (more will be loaded by ajax) -->
    <% @regular_posts.each_with_index do |post, index| %>
        <div class="kicks-box clearfix">
            <div class="kicks-pic">
                <%= image_tag "post/#{post.image}" %>
                <div class="kicks-filter">
                </div>
                <a href="#"><p>Placeholder</p></a>
                <div class="kicks-title">
                </div>
            </div>
            <div class="kicks-intro">
                <h2><%= post.title %></h2>
                <div class="kicks-intro-content">
                    <span><%= post.content %></span>
                </div>
            </div>
        </div>
        <% if index == 2 %>
            <div class="to-view-more">
                <span>Click To View More</span>
            </div>
        <% end %>
    <% end %>
    <%= hidden_field_tag 'post_index', '3', :name => nil %>
</div>  

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
    					<%= link_to 'Home', :root, :class => "footer-menu-divider" %> 
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
    					<a href="feature.html">Features</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
 					<li>
   						<a href="trend.html">Trend</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>                      
                        <a href="upcoming.html">Upcoming</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="oncourt.html">On-court</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="streetsnap.html">Street-Snap</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="rumors.html">Rumors</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="aboutus.html">About Us</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="contact.html">Contact us</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; Kicks4love 2015. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>