<% content_for :head do %>
    <%= stylesheet_link_tag "index.css" %>
<% end %>

<a name="home"></a>
<div class="header">
    <div class="slide-bar-container">
    	<ul class="clearfix">
            <% @news_posts.each_with_index do |news_post, index| %>
                <li><%= image_tag "post/#{news_post.image}" %><%= index %></li>
                <div class="slide-filter"></div>
                <a href="#"><p><%= news_post.title %></p></a>
            <% end %>
        </ul>
        <ol class="clearfix">
        	<li>●</li>
            <li>●</li>
            <li>●</li>
            <li>●</li>
            <li>●</li>
        </ol>
    </div>
</div>

<div class="main">
    <div class="banner-box clearfix">
        <div class="new-box" style="margin-right:5%;">
            <%= image_tag "small-news1", :style => "width:100%" %>
        </div>
        <div class="new-box" style="margin-right:5%;">
            <%= image_tag "small-news1", :style => "width:100%" %>
        </div>
        <div class="new-box">
            <%= image_tag "small-news1", :style => "width:100%" %>
        </div>
    </div>

    <!-- maximum should be three only (more will be loaded by ajax) -->
    <% @regular_posts.each_with_index do |post, index| %>
        <% next if index > 2 %>
        <div class="kicks-box clearfix">
            <div class="kicks-pic">
                <%= image_tag "post/#{post.image}", :style => "width:100%" %>
                <div class="kicks-filter">
                </div>
                <a href="#"><p>Placeholder</p></a>
                <div class="kicks-title">
                </div>
            </div>
            <div class="kicks-intro">
                <h2><%= post.title %></h2>
                <div class="kicks-intro-content">
                    <span><%= post.content %></span>
                </div>
            </div>
        </div>
    <% end %>
    <% unless @regular_posts[3].nil?  %>
        <div class="to-view-more">
            <span>Click To View More</span>
        </div>
    <% end %>
    <%= hidden_field_tag "post_index", "3", :name => nil %>
</div>

<% content_for :end_of_body do %>
    <%= javascript_include_tag "index.js" %>
<% end %>