<% content_for :head do %>
    <%= stylesheet_link_tag "oncourt.css" %>
<% end %>

<%= hidden_field_tag "page_source", "oncourt" %>

<div class="main container">
    <div class="on-court"><%= t("On_Court") %></div>
    <ul class="clearfix">
        <% @on_court_posts.each_with_index do |post, index| %>
            <li class="col-xs-12 col-sm-6 col-lg-4<%= " last" if index == @on_court_posts.size-1 %>">
                <a href="/oncourt/<%= post.id %>"><%= post.title %>>
                    <%= image_tag post.cover_image.url %>
                    <p><%= post.title %></p>
                </a>
            </li>
        <% end %>
        <% unless @on_court_posts.total_pages == @on_court_posts.current_page %>
            <div class="to-view-more col-sm-6">
                <span>Click To View More</span>
            </div>
        <% end %>
    </ul>
    <%= hidden_field_tag "next_page", "2", :name => nil %>
</div>

<% content_for :end_of_body do %>
    <%= javascript_include_tag "oncourt.js" %>
<% end %>
