<% content_for :head do %>
    <%= stylesheet_link_tag "oncourt.css" %>
<% end %>

<%= hidden_field_tag "page_source", "oncourt" %>

<div class="main container">
    <div class="kicks-title">
        <div><%= t("On_Court") %></div>
    </div>
    <ul class="clearfix">
        <% @on_court_posts.each do |post| %>
            <li class="col-xs-12 col-sm-6 col-lg-4">
                <div class="player-card" style="background-image:url('<%= post.cover_image.url %>');">
                    <span class="kicks-date"><%= post.created_at.strftime("%Y-%m-%d") %></span>
                    <% if post.has_link %>
                        <a href="/oncourt/<%= post.id %>" class="flyout-button"><%= t("more") %></a>
                    <% end %>
                    <div class="player-card-inside">
                        <% if post.has_link %>
                            <a href="/oncourt/<%= post.id %>">
                                <div class="player-name"><span><%= post.player_name.split(" ")[0] if post.player_name %></span><br><b><%= post.player_name.split(" ")[1] if post.player_name %></b></div>
                            </a>
                        <% else %>
                            <div class="player-name"><span><%= post.player_name.split(" ")[0] if post.player_name %></span><br><b><%= post.player_name.split(" ")[1] if post.player_name %></b></div>
                        <% end %>
                        <div class="player-info"><%= post.title %></div>
                    </div>
                </div>
            </li>
        <% end %>
        <% unless @on_court_posts.total_pages == @on_court_posts.current_page %>
            <div class="to-view-more current">
                <span><%= t("Click_to_view_more") %> <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></span>
            </div>
        <% end %>
    </ul>
    <%= hidden_field_tag "next_page", "2", :name => nil, :autocomplete => "off" %>
</div>

<% content_for :end_of_body do %>
    <%= javascript_include_tag "oncourt.js" %>
<% end %>