<% content_for :head do %>
    <%= stylesheet_link_tag "oncourt.css" %>
<% end %>

<div class="main">
    <div class="on-court"><%= t("On_court") %></div>
    <ul class="clearfix">
        <% @on_court_posts.each_with_index do |post, index| %>
            <li <%= raw (index + 1) % 3 == 0 ? "class=\"last\"" : "" %>>
                <a href="#">
                    <%= image_tag post.cover_image.main.url %>
                    <p><%= post.title %></p>
                </a>
            </li>
        <% end %>
        <% unless @on_court_posts.total_pages == @on_court_posts.current_page %>
            <div class="to-view-more">
                <span>Click To View More</span>
            </div>
        <% end %>
    </ul>
    <%= hidden_field_tag "next_page", "2", :name => nil %>
</div>

<% content_for :end_of_body do %>
    <%= javascript_include_tag "oncourt.js" %>
<% end %>