<style>
  .privacy-block {
    margin: 20px;
  }
  ul {
    margin: 0;
  }
  .sub-title {
    font-size: 1.8em;
    font-weight: normal;
  }
  .intro {
    background-color: #f8f8f8;
    padding:10px;
    border-radius:5px;
  }
</style>
<div class="main container">
  <div class="privacy-block">
    <div class="row">
      <h1 class="main-title"><%= t("Privacy_Policy") %></h1>
    </div>
    <div class="row intro">
      <p>
        <%= raw t("privacy_policy_1") %>
        <br/><br/>
        <strong><%= t("privacy_policy_2") %></strong>
        <br/>
        <%= raw t("privacy_policy_3") %>
        <br/><br/>
        <strong><%= t("privacy_policy_4") %></strong>
        <br/>
        <%= t("privacy_policy_5") %>
        <br/><br/>
        <strong><%= t("privacy_policy_6") %></strong>
        <br/>
        <%= t("privacy_policy_7") %>
        <ul>
          <li><%= t("privacy_policy_8") %></li>
          <li><%= t("privacy_policy_9") %></li>
          <li><%= t("privacy_policy_10") %></li>
          <li><%= t("privacy_policy_11") %></li>
        </ul>
        <br/>
        <strong><%= t("privacy_policy_12") %></strong>
        <br/>
        <%= raw t("privacy_policy_13") %>
      </p>
    </div>
  </div>
  <div class="privacy-block">
    <div class="row">
      <h2 class="sub-title"><%= t("privacy_policy_14") %></h2>
    </div>
    <div class="row intro">
      <p>
        <%= t("privacy_policy_15") %>
        <ul>
          <li><%= t("privacy_policy_16") %></li>
          <li><%= t("privacy_policy_17") %></li>
          <li><%= t("privacy_policy_18") %></li>
        </ul>
        <br/>
        <%= t("privacy_policy_19") %>
      </p>
    </div>
  </div>
  <div class="privacy-block">
    <div class="row">
      <h2 class="sub-title"><%= t("privacy_policy_20") %></h2>
    </div>
    <div class="row intro">
      <p>
        <%= t("privacy_policy_21") %>
        <br/><br/>
        <strong><%= t("privacy_policy_22") %></strong>
        <br/>
        <%= t("privacy_policy_23") %>
      </p>
    </div>
  </div>
  <div class="privacy-block">
    <div class="row">
      <h2 class="sub-title"><%= t("privacy_policy_24") %></h2>
    </div>
    <div class="row intro">
      <p>
        <%= t("privacy_policy_25") %>
        <br/><br/>
        <strong><%= t("privacy_policy_26") %></strong>
        <br/>
        <%= t("privacy_policy_27") %>
        <br/><br/>
        <strong><%= t("privacy_policy_28") %></strong>
        <br/>
        <%= raw t("privacy_policy_29") %>
      </p>
    </div>
  </div>
</div>

<script>initApplication(false, true);</script>