<% content_for :head do %>
    <%= stylesheet_link_tag "rumors.css" %>
<% end %>

<%= hidden_field_tag "page_source", "rumors" %>

<div class="main container">
	<div class="header">
        <header><%= t("Rumors") %></header>
        <div class="sub-header"><%= t("Comprehensive_Rumor_All_In_One_View") %></div>
    </div>
    <div class="content">
    	<% @rumors_posts.each_with_index do |rumor_post, index| %>
    		<%  
                row_div_start = row_div_end = false
                if index == 0 || index == 3
                    row_div_start = true
                    border_class = "left-lg-none left-sm-none"
                elsif index == 2 || index == 5
                    border_class = "left-sm-none"
                    row_div_end = true
                end
                row_div_end = true if index == @rumors_posts.size-1
    		%>
            <% if row_div_start %>
                <div class="row">
            <% end %>
	        <div class="collumn <%= border_class %> col-xs-12 col-sm-6 col-lg-4">
	            <div class="head">
	                <a href="/rumors/<%= rumor_post.id %>">
                        <span class="headline title"><%= rumor_post.title %></span>
                    </a>
	                <p>
	                    <span class="headline sub-title"><%= rumor_post.created_at.strftime("%Y-%m-%d") %></span>
	                </p>
	            </div>
	            <p><%= ActionView::Base.full_sanitizer.sanitize(rumor_post.content[0])[0..120] %>... <a href="/rumors/<%= rumor_post.id %>">(<%= t("more") %>)</a></p>
                <a href="/rumors/<%= rumor_post.id %>">
	               <div class="photo" style="background-image:url('<%= rumor_post.cover_image.url %>')"></div>
                </a>
	        </div>
            <% if row_div_end %>
                </div>
            <% end %>
	    <% end %>
    </div>
    <div class="pagination-container">
    	<%= will_paginate @rumors_posts, :previous_label => t("Prev_Page"), :next_label => t("Next_Page") %>
    </div>
</div>

<% content_for :end_of_body do %>
    <%= javascript_include_tag "rumors.js" %>
<% end %>