<style>
	.main h1 {
		font-size: 40px;
		font-weight: 300;
  		margin-bottom: 5px;
	}
	.main h4.search-term {
		font-size: 1.0em;
		font-weight: light;
		color: #999;
		margin: 0;
		padding: 0;
	}
	.main h2 {
		font-weight: 300;
	}
	.main h2 a {
		text-decoration: none;
	}
	.main .search-result {
	  	border-top: 1px solid #cccccc;
	  	padding: 15px 15px 10px;
	  	margin-bottom: 5px;
	}
	.main .search-result h2 {
	  	margin-bottom: 0;
	  	margin-top: 0;
	}
	.main .post-type {
	  	margin: 0;
	  	padding: 0;
	  	color: green;
	}
	.main .post-content {
	  	margin-top: 5px;
	  	margin-bottom: 5px;
	}
</style>

<div class="main container">
	<h1><%= t("Search_Result") %></h1>
	<% description = @chinese ? "有#{@total_results}个搜索结果" : "has #{@total_results} result(s) found" %>
	<h4 class="search-term"><%= "\"#{params[:search]}\" #{description}" %></h4>
	<% @results.each do |post| %>
		<div class="search-result">
			<%  
                case post.class.name
                    when "FeaturePost"
                        url = "/features/#{post.id}"
                        tag = "Features"
                    when "TrendPost"
                       	url = "/trend/#{post.id}"
                       	tag = "Trend"
                    when "OnCourtPost"
                        url = "/oncourt/#{post.id}"
                        tag = "On_Court"
                end
            %>
			<h2><a href="<%= url %>"><%= @chinese ? post.title_cn : post.title_en %></a></h2>
			<p class="post-type"><i class="fa fa-tags" aria-hidden="true"></i> <%= t(tag) %></p>
			<p class="post-content"><%= @chinese ? post.content_cn[0] : post.content_en[0] %></p>
		</div>
	<% end %>
</div>