<style>
	.main h1 {
		font-size: 40px;
		font-weight: 300;
  		margin-bottom: 5px;
	}
	.main h4.search-term {
		font-size: 1.0em;
		font-weight: light;
		color: #999;
		margin: 0;
		padding: 0;
	}
	.main h2 {
		font-weight: 300;
	}
	.main em {
		background: yellow;
	}
	.main h2 a {
		text-decoration: none;
	}
	.main .search-result {
	  	border-top: 1px solid #cccccc;
	  	padding: 15px 15px 10px;
	  	margin-bottom: 5px;
	}
	.main .search-result h2 {
	  	margin-bottom: 0;
	  	margin-top: 0;
	}
	.main .post-type {
	  	margin: 0;
	  	padding: 0;
	  	color: green;
	}
	.main .post-content {
	  	margin-top: 5px;
	  	margin-bottom: 5px;
	}
	.main .pagination {
		background: white;
		cursor: default;
  	}
  	.main .pagination a, .pagination span, .pagination em {
    	padding: 0.2em 0.5em;
    	display: block;
    	float: left;
    	margin-right: 1px; 
    }
  	.main .pagination .disabled {
	    color: #999999;
	    border: 1px solid #dddddd; 
	}
  	.main .pagination .current {
	    font-style: normal;
	    font-weight: bold;
	    background: #2e6ab1;
	    color: white;
	    border: 1px solid #2e6ab1; 
	}
  	.main .pagination a {
	    text-decoration: none;
	    color: #105cb6;
	    border: 1px solid #9aafe5; 
	}
    .main .pagination a:hover, .pagination a:focus {
      	color: #000033;
      	border-color: #000033; 
    }
  	.main .pagination .page_info {
	    background: #2e6ab1;
	    color: white;
	    padding: 0.4em 0.6em;
	    width: 22em;
	    margin-bottom: 0.3em;
	    text-align: center; 
	}
    .main .pagination .page_info b {
      	color: #000033;
      	background: #6aa6ed;
      	padding: 0.1em 0.25em; }
  	.main .pagination:after {
	    content: ".";
	    display: block;
	    height: 0;
	    clear: both;
	    visibility: hidden; 
	}
	* html .pagination {
	    height: 1%; 
	}
	*:first-child + html .pagination {
	    overflow: hidden; 
	}
</style>

<div class="main container">
	<h1><%= t("Search_Result") %></h1>
	<% description = @chinese ? "有#{@results.total_entries}个搜索结果" : "has #{@results.total_entries} result(s) found" %>
	<h4 class="search-term"><%= "\"#{params[:q]}\" #{description}" %></h4>
	<% @results.each do |post| %>
		<div class="search-result">
			<%  
                case post._type
                    when "feature_post"
                        url = "/features/#{post.id}"
                        tag = "Features"
                    when "trend_post"
                       	url = "/trend/#{post.id}"
                       	tag = "Trend"
                    when "on_court_post"
                        url = post.content_en.empty? || post.content_cn.empty? ? "/oncourt" : "/oncourt/#{post.id}"
                        tag = "On_Court"
                    when "rumor_post"
                    	url = "/rumors/#{post.id}"
                    	tag = "Rumors"
                    else
                    	url = "/calendar?date=#{post.release_date}"
                    	tag = "Calendar"
                end
            %>
			<% if @chinese %>
				<h2><a href="<%= url %>"><%= post.try(:highlight).try(:title_cn) ? post.highlight.title_cn[0].html_safe : post.title_cn %></a></h2>
				<p class="post-type"><i class="fa fa-tags" aria-hidden="true"></i> <%= t(tag) %></p>
				<% if post.try(:highlight).try(:content_cn) %>
        			<% post.highlight.content_cn.each do |snippet| %>
          				<p><%= snippet.html_safe %>...</p>
        			<% end %>
        		<% elsif !post._type == "calendar_post" && !post.content_cn.empty? %>
        			<p><%= post.content_cn[0][0..100] %>...</p>
      			<% end %>
      		<% else %>
      			<h2><a href="<%= url %>"><%= post.try(:highlight).try(:title_en) ? post.highlight.title_en[0].html_safe : post.title_en %></a></h2>
				<p class="post-type"><i class="fa fa-tags" aria-hidden="true"></i> <%= t(tag) %></p>
				<% if post.try(:highlight).try(:content_en) %>
        			<% post.highlight.content_en.each do |snippet| %>
          				<p><%= snippet.html_safe %>...</p>
        			<% end %>
        		<% elsif !post._type == "calendar_post" && !post.content_en.empty? %>
        			<p><%= post.content_en[0][0..100] %>...</p>
      			<% end %>
			<% end %>

		</div>
	<% end %>
	<%= will_paginate @results, :previous_label => t("Prev_Page"), :next_label => t("Next_Page") %>
</div>

<script>
	initApplication(true, true);
</script>