<style>
	.main h1, .main h2 {
		font-weight: lighter;
	}
	.main h1 {
		font-size: 40px;
  		margin-bottom: 5px;
	}
	.main h4.search-term {
		font-size: 1.0em;
		color: #999;
		margin: 0;
		padding: 0;
	}
	.main em {
		background: yellow;
	}
	.main h2 a {
		text-decoration: none;
	}
	.main .search-result {
	  	border-top: 1px solid #cccccc;
	  	padding: 15px 15px 10px;
	  	margin-bottom: 5px;
	}
	.main .search-result h2 {
	  	margin-bottom: 0;
	  	margin-top: 0;
	}
	.main .post-type {
	  	margin: 0;
	  	padding: 0;
	  	color: green;
	}
	.main .post-content {
	  	margin-top: 5px;
	  	margin-bottom: 5px;
	}
</style>

<div class="main container">
	<h1><%= t("Search_Result") %></h1>
	<% description = @chinese ? "有#{@results.total_entries}个搜索结果" : "has #{@results.total_entries} result(s) found" %>
	<h4 class="search-term"><%= "\"#{params[:q]}\" #{description}" %></h4>
	<% @results.each do |post| %>
		<div class="search-result">
			<%  
                case post._type
                    when "feature_post"
                        url = "/features/#{post.id}"
                        tag = "Features"
                    when "trend_post"
                       	url = "/trend/#{post.id}"
                       	tag = "Trend"
                    when "on_court_post"
                        url = post.content_en.empty? || post.content_cn.empty? ? "/oncourt" : "/oncourt/#{post.id}"
                        tag = "On_Court"
                    when "street_snap_post"
						url = "/streetsnap/#{post.id}"
						tag = "Street_Snap"
                    when "rumor_post"
                    	url = "/rumors/#{post.id}"
                    	tag = "Rumors"
                    else
                    	url = "/calendar?date=#{post.release_date}"
                    	tag = "Calendar"
                end
            %>
			<% if @chinese %>
				<h2><a href="<%= url %>"><%= post.try(:highlight).try(:title_cn) ? post.highlight.title_cn[0].html_safe : post.title_cn %></a></h2>
				<p class="post-type"><i class="fa fa-tags" aria-hidden="true"></i> <%= t(tag) %></p>
				<% if post.try(:highlight).try(:content_cn) %>
        			<% post.highlight.content_cn.each do |snippet| %>
          				<p><%= snippet.html_safe %>...</p>
        			<% end %>
        		<% elsif !post._type == "calendar_post" && !post.content_cn.empty? %>
        			<p><%= post.content_cn[0][0..100] %>...</p>
      			<% end %>
      		<% else %>
      			<h2><a href="<%= url %>"><%= post.try(:highlight).try(:title_en) ? post.highlight.title_en[0].html_safe : post.title_en %></a></h2>
				<p class="post-type"><i class="fa fa-tags" aria-hidden="true"></i> <%= t(tag) %></p>
				<% if post.try(:highlight).try(:content_en) %>
        			<% post.highlight.content_en.each do |snippet| %>
          				<p><%= snippet.html_safe %>...</p>
        			<% end %>
        		<% elsif !post._type == "calendar_post" && !post.content_en.empty? %>
        			<p><%= post.content_en[0][0..100] %>...</p>
      			<% end %>
			<% end %>

		</div>
	<% end %>
	<%= will_paginate @results, :previous_label => t("Prev_Page"), :next_label => t("Next_Page") %>
</div>

<script>initApplication(true, true);</script>