<% content_for :head do %>
    <%= stylesheet_link_tag "streetsnap.css" %>
<% end %>

<%= hidden_field_tag "page_source", "street_snap" %>

<div class="main container clearfix">
    <!-- maximum should be three only (more will be loaded by ajax) -->
    <% @street_snap_posts.each_with_index do |post, index| %>

        <div>
            <a href="/streetsnap/<%= post.id %>">
              <%= image_tag post.cover_image %>
            </a>
            <div>
                <a href="/streetsnap/<%= post.id %>"><h1><%= post.title %></h1></a>
                <h2><%= post.created_at.strftime("%Y-%m-%d") %></h2>
                <p><%= ActionView::Base.full_sanitizer.sanitize(post.content[0][0..120].strip) %>...</p>
                <a href="/streetsnap/<%= post.id %>" class="kicks-post-more"><%= t("more") %></a>
            </div>
        </div>
    <% end %>
    <% unless @street_snap_posts.total_pages == @street_snap_posts.current_page %>
        <div class="to-view-more">
            <span><%= t("Click_to_view_more") %> <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></span>
        </div>
    <% end %>
    <%= hidden_field_tag "next_page", "2", :name => nil %>
</div>