<style>
  .term-block {
    margin: 20px;
  }
  .main-title {
    font-size: 2.2em;
  }
  .sub-title {
    font-size: 1.8em;
    font-weight: normal;
  }
  .intro {
    background-color: #f8f8f8;
    padding:10px;
    border-radius:5px;
    font-weight: lighter;
  }
</style>
<div class="main container">
  <div class="term-block">
    <div class="row">
      <h1 class="main-title"><%= t("Terms_and_Conditions") %></h1>
    </div>
    <div class="row intro">
      <p class="intro-content"><%= raw t("terms_intro") %>
      </p>
    </div>
  </div>

  <div class="term-block">
    <div class="row">
      <h2 class="sub-title">1. <%= t("Our_Plan") %></h2>
    </div>
    <div class="row intro">
      <p><%= raw t("terms_our_plan") %></p>
    </div>
  </div>

  <div class="term-block">
    <div class="row">
      <h2 class="sub-title">2. <%= t("What_We_Provided_So_Far") %></h2>
    </div>
    <div class="row intro">
      <p class="intro-content"><%= t("terms_provided_so_far") %></p>
    </div>
  </div>
</div>

<script>
  initApplication(false, true);
</script>