<h1>Admin Rumor Post</h1>

<hr/>

<% if @rumor_posts.any? %>
  <%= link_to "New rumor Post", new_admin_rumor_post_path, :class => "btn btn-primary" %>
  <% if @expired_posts_count > 0 %>
    <button id="remove-old" class="btn btn-danger">Delete <%= @expired_posts_count %> old posts</button>
  <% end %>

  <br/><br/>

  <%= form_for :filter, :url => admin_rumor_posts_path, :method => :get, :html => {:class => "filter-form"} do |f| %>
      <label>Per Page:</label>
      <%= f.radio_button :per_page, 5, :checked => @per_page == 5 %>
      <%= f.label :per_page, 5, :value => 5 %>
      <%= f.radio_button :per_page, 10, :checked => @per_page == 10 %>
      <%= f.label :per_page, 10, :value => 10  %>

      <%= f.submit 'Filter', :class => "btn btn-default"  %>
      <%= link_to 'Clear Filter', admin_rumor_posts_path %>
  <% end %>
  <br/>
  <table class="table table-bordered">
    <thead>
        <tr>
          <th></th>
          <th>Author</th>
          <th>Title (English)</th>
          <th>中文标题</th>
          <th>Content (English)</th>
          <th>文章内容 （中文)</th>
          <th>Cover Image</th>
          <th>Main Image</th>
        </tr>
    </thead>
    <tbody>
      <% @rumor_posts.each do |rumor_post| %>
        <tr>
          <td>
            <%= link_to "Edit", edit_admin_rumor_post_path(rumor_post) %>
            |
            <%= link_to "Delete", admin_rumor_post_path(rumor_post), :data => {:confirm => 'Are you sure?'}, :method => :delete %>
          </td>
          <td>
            <% if rumor_post.author.nil? %>
              No author
            <% else %>
              <%= rumor_post.author.username.empty? ? rumor_post.author.email : rumor_post.author.username %>
            <% end %>
          </td>
          <td><%= rumor_post.title_en %></td>
          <td><%= rumor_post.title_cn %></td>
          <% if rumor_post.content_en.any?%>
            <td>
            <%= rumor_post.content_en.size %> paragraphs
            </td>
          <% else %>
            <td>No content in English</td>
          <% end %>
          <% if rumor_post.content_cn.any?%>
            <td>
            <%= rumor_post.content_cn.size %> 段
            </td>
          <% else %>
            <td>暂无中文内容</td>
          <% end %>
          <td><img src="<%= rumor_post.cover_image %>" height = "50px" /></td>
          <td><%= rumor_post.main_images.size %> main images</td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
    <h2>No Record</h2>

    <br/>

    <%= link_to "Create a new rumor post now", new_admin_rumor_post_path, :class => "btn btn-primary" %>
<% end %>

<br/><br/>

<p><%= link_to "Back", admin_root_path, :class => "btn btn-default" %></p>
<% content_for :end_of_body do %>
    <%= javascript_include_tag "admin/rumors.js" %>
<% end %>

