<div class="row no-margin">
	<div class="col-sm-2">
		<label>Title (English): </label>
	</div>
	<div class="col-sm-2">
		<%= form.text_field :title_en %>
	</div>
</div>
<br/>
<div class="row no-margin">
	<div class="col-sm-2">
		<label>中文标题: </label>
	</div>
	<div class="col-sm-2">
		<%= form.text_field :title_cn %>
	</div>
</div>
<br/>
<div class="row no-margin">
	<div class="col-sm-2">
		<label>Content (English): </label>
	</div>
	<div class="col-sm-2">
		<%= form.text_area :content_en, :class => 'content-form', :value => @on_court_post.content_en.join("\n"), :title => "Different paragraph in different line" %>
	</div>
</div>
<br/>
<div class="row no-margin">
	<div class="col-sm-2">
		<label>文章内容（中文): </label>
	</div>
	<div class="col-sm-2">
		<%= form.text_area :content_cn, :class => 'content-form', :value => @on_court_post.content_cn.join("\n"), :title => "Different paragraph in different line" %>
	</div>
</div>
<br/>
<div class="row no-margin">
	<div class="col-sm-2">
		<label>Player Name (English): </label>
	</div>
	<div class="col-sm-2">
		<%= form.text_field :player_name_en, :title => "First name and Last name separate with space" %>
	</div>
</div>
<br/>
<div class="row no-margin">
	<div class="col-sm-2">
		<label>球员名称 (中文): </label>
	</div>
	<div class="col-sm-2">
		<%= form.text_field :player_name_cn, :title => "First name and Last name separate with space" %>
	</div>
</div>
<br/>
<div class="row no-margin">
	<div class="col-sm-2">
		<label>Cover Image: </label>
	</div>
	<div class="col-sm-2">
		<%= form.file_field :cover_image %>
	</div>
</div>
<br/>
<div class="row no-margin">
	<div class="col-sm-2">
		<label>Main Images: </label>
	</div>
	<div class="col-sm-2">
		<%= form.file_field :main_images, multiple: true %>
	</div>
</div>
<div class="row no-margin">
	<% if @on_court_post.main_images.count > 0 %>
		<label>
    		<%= form.check_box :remove_main_images %> Remove current images
		</label>
	<% end %>
</div>
<br/>
<%= form.submit "Submit", :class => "btn btn-primary" %>