<h1>Admin On Court Posts</h1>

<hr/>

<% if @on_court_posts.any? %>
    <%= link_to "Create new on court post", new_admin_on_court_post_path, :class => "btn btn-primary" %>
    <% if @expired_posts_count > 0 %>
        <button id="remove-old" class="btn btn-danger">Delete <%= @expired_posts_count %> old posts</button>
    <% end %>
    <br/><br/>

    <%= form_for :filter, :url => admin_on_court_posts_path, :method => :get, :html => {:class => "filter-form"} do |f| %>
        <label>Per Page:</label>
        <%= f.radio_button :per_page, 5, :checked => @per_page == 5 %>
        <%= f.label :per_page, 5, :value => 5 %>
        <%= f.radio_button :per_page, 10, :checked => @per_page == 10 %>
        <%= f.label :per_page, 10, :value => 10 %>

        <%= f.submit 'Filter', :class => "btn btn-default"  %>
        <%= link_to 'Clear Filter', admin_on_court_posts_path %>
    <% end %>
    <br/>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Author</th>
                <th>Title (English)</th>
                <th>中文标题</th>
                <th>Content (English)</th>
                <th>文章内容（中文)</th>
                <th>Player Name (English)</th>
                <th>球员名称 （中文)</th>
                <th>Cover Image</th>
                <th>Main Images</th>
                <th></th>
            </tr>
        </thead>
      <tbody>
          <% @on_court_posts.each do |post| %>
            <tr>
                <td>
                  <% if post.author.nil? %>
                    No author
                  <% else %>
                    <%= post.author.username.empty? ? post.author.email : post.author.username %>
                  <% end %>
                </td>
                <td><%= post.title_en %></td>
                <td><%= post.title_cn %></th>
                <% if post.content_en.any?%>
      						<td>
      						<%= post.content_en.size %> paragraphs
      						</td>
      					<% else %>
      						<td>No content in English</td>
      					<% end %>
      					<% if post.content_cn.any?%>
      						<td>
      						<%= post.content_cn.size %> 段
      						</td>
      					<% else %>
      						<td>暂无中文内容</td>
      					<% end %>
                <td><%= post.player_name_en %></td>
                <td><%= post.player_name_cn %></td>
                <td><%= image_tag "#{post.cover_image}", :height => "50px"%></td>
                <td><%= post.main_images.size %> main images</td>
                <td>
                    <%= link_to "Edit", edit_admin_on_court_post_path(post), :class => "btn btn-primary" %>
                    <%= link_to "Delete", admin_on_court_post_path(post), :data => {:confirm => 'Are you sure to delete this post?'}, :method => :delete, :class => "btn btn-danger" %>
                </td>
            </tr>
          <% end %>
        </tbody>
    </table>
    <%= will_paginate @on_court_posts, :previous_label => 'Prev', :next_label => 'Next' %>
<% else %>
    <h2>No posts yet</h2>
    <br/>
    <%= link_to "Create a new on court post now", new_admin_on_court_post_path, :class => "btn btn-primary" %>
<% end %>

<br/></br/>

<p><%= link_to "Back", admin_root_path, :class => "btn btn-default" %></p>
<% content_for :end_of_body do %>
    <%= javascript_include_tag "admin/oncourt.js" %>
<% end %>
