<h1>Admin Users</h1>

<hr/>
<br/>

<h2>Root User:</h2>
<table class="table table-bordered">
    <thead>
        <th>Email</th>
        <th>Login Count</th>
        <th>Last Login Time</th>
        <th>Last Sign In IP</th>
        <th>Created Time</th>
        <th></th>
    </thead>
    <tbody style="<%= 'background-color:lightgreen' if current_admin_user.root_user? %>">
        <tr>
            <td><%= @root_user.email %></td>
            <td><%= @root_user.sign_in_count %></td>
            <td><%= @root_user.last_sign_in_at.strftime("%Y-%m-%d %H:%M") %></td>
            <td><%= @root_user.last_sign_in_ip %></td>
            <td><%= @root_user.created_at.strftime("%Y-%m-%d %H:%M") %></td>
            <td><%= link_to "Detail", admin_admin_user_path(@root_user), :class => "btn btn-primary" %></td>
        </tr>
    </tbody>
</table>

<br/>

<% if @admin_users.any? %>
    <h2>Admin Users:</h2>
    <table class="table table-bordered">
        <thead>
            <th>Email</th>
            <th>Login Count</th>
            <th>Last Login Time</th>
            <th>Last Sign In IP</th>
            <th>Created Time</th>
            <th></th>
        </thead>
        <tbody>
            <% @admin_users.each do |admin_user| %>
                <tr style="<%= 'background-color:lightgreen' if current_admin_user.email == admin_user.email %>">
                    <td><%= admin_user.email %></td>
                    <td><%= admin_user.sign_in_count %></td>
                    <td><%= admin_user.last_sign_in_at.strftime("%Y-%m-%d %H:%M") %></td>
                    <td><%= admin_user.last_sign_in_ip %></td>
                    <td><%= admin_user.created_at.strftime("%Y-%m-%d %H:%M") %></td>
                    <td><%= link_to "Detail", admin_admin_user_path(admin_user), :class => "btn btn-primary" %></td>
                <tr/>
            <% end %>
        </tbody>
    </table>
    <% if current_admin_user.root_user? %>
        <%= link_to "Create a new admin user", new_admin_user_registration_path, :class => "btn btn-primary" %>
    <% end %>
<% else %>
    <h2>No admin user exist</h2>
    <% if current_admin_user.root_user? %>
        <%= link_to "Create a new admin user now", new_admin_user_registration_path, :class => "btn btn-primary" %>
    <% end %>
<% end %>

<br/><br/><br/>

<p><%= link_to "Back", admin_root_path %></p>