<h1>Admin User Detail</h1>

<hr/>
<br/>

<label>Email:</label>
<p><%= @admin_user.email %></p>

<label>Username:</label>
<p><%= @admin_user.username %></p>

<label>Role:</label>
<p><%= @admin_user.root_user? ? 'Root' : 'Admin' %></p>

<label>Login Count:</label>
<p><%= @admin_user.sign_in_count %></p>

<label>Last Login Time:</label>
<p><%= @admin_user.last_sign_in_at.strftime("%Y-%m-%d %H:%M") %></p>

<label>Last Login IP:</label>
<p><%= @admin_user.last_sign_in_ip %></p>

<label>Current Login IP:</label>
<p><%= @admin_user.current_sign_in_ip %></p>

<label>Created Time:</label>
<p><%= @admin_user.created_at.strftime("%Y-%m-%d %H:%M") %></p>

<label>Last Update Time:</label>
<p><%= @admin_user.updated_at.strftime("%Y-%m-%d %H:%M") %></p>

<br/>

<%
	is_root_user = @admin_user.root_user?
	is_same_user = @admin_user.email == current_admin_user.email
%>

<% if is_same_user %>
	<%= link_to "Edit", edit_admin_user_registration_path(@admin_user), :class => "btn btn-primary" %>
<% end %>

<% if !is_root_user && (is_same_user || current_admin_user.root_user?) %>
	<%= link_to "Delete", admin_admin_user_path(@admin_user), :data => {:confirm => 'Are you sure to delete this admin user?'}, :method => :delete, :class => "btn btn-danger" %>
<% end %>

<br/><br/>

<%= link_to 'Back', :back %>