<% is_new_record = @post.new_record? %>
<div class="row no-margin">
	<div class="col-sm-2">
		<label>Title (English):</label>
	</div>
	<div class="col-sm-2">
		<%= form.text_field :title_en %>
	</div>
</div>
<br>
<div class="row no-margin">
	<div class="col-sm-2">
		<label>中文标题:</label>
	</div>
	<div class="col-sm-2">
		<%= form.text_field :title_cn %>
	</div>
</div>
<br>
<div class="row no-margin">
	<div class="col-sm-2">
		<label>Pointer Type:</label>
	</div>
	<div class="col-sm-2">
		<%= form.select :pointer_type, Post.pointer_types.keys %>
	</div>
	<div class="col-sm-2">
		<%= form.select :pointer_id, is_new_record ? [] : @post.pointer_type %>
	</div>
</div>
<br>
<div class="row no-margin">
	<div class="col-sm-2">
		<label>Post Type:</label>
	</div>
	<div class="col-sm-2">
		<%= form.text_field :post_type, :value => is_new_record ? params[:type] : @post.post_type, :readonly => true %>
	</div>
</div>
<br>
<div class="row no-margin">
	<div class="col-sm-2">
		<label>Image:</label>
	</div>
	<div class="col-sm-2">
		<%= form.file_field :image %>
	</div>
</div>
<br>
<%= form.submit "Submit", :class => "btn btn-primary" %>