<h1>Admin</h1>

<br>

<%= link_to "New Post", new_admin_post_path %>

<br><br>

<%= form_for :filter, :url => admin_posts_path, :method => :get, :html => {:class => "filter-form"} do |f| %>
    <label>Type</label>
     <%= f.select :post_type, options_for_select(Post.post_types.keys, default = params[:filter].nil? ? '' : params[:filter][:type]), :include_blank => true %>

    <%= f.submit 'Filter'  %>
    <%= link_to 'Clear Filter', admin_posts_path %>
<% end %>

<% if @posts.any? %>
	<table border="1" style="width:100%">
		<tbody>
			<tr>
				<th></th>
				<th>Title</th>
				<th>Content</th>
				<th>Image</th>
			</tr>
		</tbody>
		<tbody>
			<% @posts.each do |post| %>
				<tr>
					<td>
						<%= link_to "Edit", edit_admin_post_path(post) %>
						|
						<%= link_to "Delete", admin_post_path(post), :data => {:confirm => 'Are you sure?'}, :method => :delete %>
					</td>
					<td><%= post.title %></td>
					<td><%= post.content %></td>
					<td><%= image_tag "post/#{post.image}", :height => "20px" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<p>No Record</p>
<% end %>

<br><br>

<p><%= link_to "Back", admin_root_path %></p>