<h1>Admin Post</h1>

<hr/>

<% if @posts.any? || params[:filter].present? %>
	<%= link_to "Create new post", new_admin_post_path, :class => "btn btn-primary" %>

	<br/><br/>

	<%= form_for :filter, :url => admin_posts_path, :method => :get, :html => {:class => "filter-form"} do |f| %>
	    <label>Type:</label>
	    <%= f.select :post_type, options_for_select(Post.post_types.keys, params[:filter].nil? ? '' : params[:filter][:post_type]), :include_blank => true %>
	    <label>Per Page:</label>
	    <%= f.radio_button :per_page, 5, :checked => @per_page == 5 %>
	    <%= f.label :per_page, 5, :value => 5 %>
	    <%= f.radio_button :per_page, 10, :checked => @per_page == 10 %>
	    <%= f.label :per_page, 10, :value => 10  %>

	    <%= f.submit 'Filter', :class => "btn btn-default"  %>
	    <%= link_to 'Clear Filter', admin_posts_path %>
	<% end %>
	<br/>
	<table class="table table-bordered">
		<tbody>
			<tr>
				<th></th>
				<th>Type</th>
				<th>Title</th>
				<th>Content</th>
				<th>Image</th>
			</tr>
		</tbody>
		<tbody>
			<% @posts.each do |post| %>
				<tr>
					<td>
						<%= link_to "Edit", edit_admin_post_path(post) %>
						|
						<%= link_to "Delete", admin_post_path(post), :data => {:confirm => 'Are you sure?'}, :method => :delete %>
					</td>
					<td><%= post.post_type %></td>
					<td><%= post.title %></td>
					<td><%= post.content %></td>
					<td><%= image_tag "post/#{post.image}", :height => "20px" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= will_paginate @posts %>
<% else %>
	<h2>No Record</h2>

	<br/>

	<%= link_to "Create a new post now", new_admin_post_path, :class => "btn btn-primary" %>
<% end %>

<br><br>

<p><%= link_to "Back", admin_root_path, :class => "btn btn-default" %></p>