<h1>Admin Post</h1>

<hr/>

<% if @posts.any? %>
	<% if @posts.count == 5 %>
		<h2>Maximum 5 Posts</h2>
	<% else %>
		<%= link_to "Create new post", new_admin_post_path, :class => "btn btn-primary" %>
	<% end %>

	<br/><br/>

	<br/>
	<table class="table table-bordered">
		<tbody>
			<tr>
				<th></th>
				<th>Type</th>
				<th>Pointer Type</th>
				<th>Title</th>
				<th>Content</th>
				<th>Image</th>
			</tr>
		</tbody>
		<tbody>
			<% @posts.each do |post| %>
				<tr>
					<td>
						<%= link_to "Edit", edit_admin_post_path(post) %>
						|
						<%= link_to "Delete", admin_post_path(post), :data => {:confirm => 'Are you sure?'}, :method => :delete %>
					</td>
					<td><%= post.post_type %></td>
					<td><%= post.pointer_type %></td>
					<td><%= post.title %></td>
					<td><%= post.content %></td>
					<td><img src="<%= post.image.url %>" height="20px" /></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<h2>No Record</h2>

	<br/>

	<%= link_to "Create a new post now", new_admin_post_path, :class => "btn btn-primary" %>
<% end %>

<hr/>

<% if @news.any? %>
	<% if @news.count == 3 %>
		<h2>Maximum 3 Posts</h2>
	<% else %>
		<%= link_to "Create new news", new_admin_post_path(:type => :NEWS), :class => "btn btn-primary" %>
	<% end %>

	<br/><br/>

	<br/>
	<table class="table table-bordered">
		<tbody>
			<tr>
				<th></th>
				<th>Type</th>
				<th>Pointer Type</th>
				<th>Title</th>
				<th>Content</th>
				<th>Image</th>
			</tr>
		</tbody>
		<tbody>
			<% @news.each do |news| %>
				<tr>
					<td>
						<%= link_to "Edit", edit_admin_post_path(news) %>
						|
						<%= link_to "Delete", admin_post_path(news), :data => {:confirm => 'Are you sure?'}, :method => :delete %>
					</td>
					<td><%= news.post_type %></td>
					<td><%= news.pointer_type %></td>
					<td><%= news.title %></td>
					<td><%= news.content %></td>
					<td><img src="<%= news.image.url %>" height="20px" /></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<h2>No Record</h2>

	<br/>

	<%= link_to "Create a new news now", new_admin_post_path(:type => :NEWS), :class => "btn btn-primary" %>
<% end %>

<br/><br/>

<p><%= link_to "Back", admin_root_path, :class => "btn btn-default" %></p>