<div class="row no-margin">
	<div class="col-sm-2">
		<label>Title (English):</label>
	</div>
	<div class="col-sm-2">
		<%= form.text_field :title_en %>
	</div>
</div>
<br>
<div class="row no-margin">
	<div class="col-sm-2">
		<label>中文标题:</label>
	</div>
	<div class="col-sm-2">
		<%= form.text_field :title_cn %>
	</div>
</div>
<br>
<div class="row no-margin">
	<div class="col-sm-2">
		<label>Content (English):</label>
	</div>
	<div class="col-sm-2">
		<%= form.text_area :content_en %>
	</div>
</div>
<br>
<div class="row no-margin">
	<div class="col-sm-2">
		<label>文章内容 (中文):</label>
	</div>
	<div class="col-sm-2">
		<%= form.text_area :content_cn %>
	</div>
</div>
<br>
<div class="row no-margin">
	<div class="col-sm-2">
		<label>Cover Image:</label>
	</div>
	<div class="col-sm-2">
		<%= form.file_field :cover_image %>
	</div>
</div>
<br>
<div class="row no-margin">
	<div class="col-sm-2">
		<label>Main Images:</label>
	</div>
	<div class="col-sm-2">
		<%= form.file_field :main_images, multiple: true %>
	</div>
</div>
<br>
<%= form.submit "Submit", :class => "btn btn-primary" %>
