<h1>Admin Features Post</h1>

<br>

<%= link_to "New Feature Post", new_admin_feature_post_path %>

<br><br>

<% if @feature_posts.any? %>
	<table border="1" style="width:100%">
		<tbody>
			<tr>
				<th></th>
				<th>Title</th>
				<th>Content</th>
				<th>Image</th>
			</tr>
		</tbody>
		<tbody>
			<% @feature_posts.each do |feature_post| %>
				<tr>
					<td>
						<%= link_to "Edit", edit_admin_feature_post_path(feature_post) %>
						|
						<%= link_to "Delete", admin_feature_post_path(feature_post), :data => {:confirm => 'Are you sure?'}, :method => :delete %>
					</td>
					<td><%= feature_post.title %></td>
					<td><%= feature_post.content %></td>
					<td><%= image_tag "feature_post/#{feature_post.image}", :height => "20px" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<p>No Record</p>
<% end %>

<br><br>

<p><%= link_to "Back", admin_root_path %></p>