<h1>Admin Features Post</h1>

<hr/>

<% if @feature_posts.any? %>
	<%= link_to "Create new feature post", new_admin_feature_post_path, :class => "btn btn-primary" %>

	<br><br>

	<%= form_for :filter, :url => admin_feature_posts_path, :method => :get, :html => {:class => "filter-form"} do |f| %>
	    <label>Per Page:</label>
	    <%= f.radio_button :per_page, 5, :checked => @per_page == 5 %>
	    <%= f.label :per_page, 5, :value => 5 %>
	    <%= f.radio_button :per_page, 10, :checked => @per_page == 10 %>
	    <%= f.label :per_page, 10, :value => 10  %>

	    <%= f.submit 'Filter', :class => "btn btn-default"  %>
	    <%= link_to 'Clear Filter', admin_feature_posts_path %>
	<% end %>
	<br/>
	<table class="table table-bordered">
		<tbody>
			<tr>
				<th></th>
				<th>Title</th>
				<th>Content</th>
				<th>Image</th>
			</tr>
		</tbody>
		<tbody>
			<% @feature_posts.each do |feature_post| %>
				<tr>
					<td>
						<%= link_to "Edit", edit_admin_feature_post_path(feature_post) %>
						|
						<%= link_to "Delete", admin_feature_post_path(feature_post), :data => {:confirm => 'Are you sure?'}, :method => :delete %>
					</td>
					<td><%= feature_post.title %></td>
					<td><%= feature_post.content %></td>
					<td><%= image_tag "feature_post/#{feature_post.image}", :height => "20px" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<h2>No Record</h2>

	<br/>

	<%= link_to "Create a new feature post now", new_admin_feature_post_path, :class => "btn btn-primary" %>
<% end %>

<br><br>

<p><%= link_to "Back", admin_root_path, :class => "btn btn-default" %></p>