<div class="row no-margin">
	<div class="col-sm-2">
		<label>Title (English):</label>
	</div>
	<div class="col-sm-2">
		<%= form.text_field :title_en %>
	</div>
</div>
<br>
<div class="row no-margin">
	<div class="col-sm-2">
		<label>中文标题:</label>
	</div>
	<div class="col-sm-2">
		<%= form.text_field :title_cn %>
	</div>
</div>
<br>
<div class="row no-margin">
	<div class="col-sm-2">
		<label>Release Date:</label>
	</div>
	<div class="col-sm-2">
		<%= form.text_field :release_date, :value => @calendar_post.new_record? || @calendar_post.release_date.nil? ? Date.today : @calendar_post.release_date.strftime("%Y-%m-%d") %>
	</div>
</div>
<br>
<div class="row no-margin">
	<div class="col-sm-2">
		<label>Release Type:</label>
	</div>
	<div class="col-sm-2">
		<%= form.select :release_type, CalendarPost.release_types.keys %>
	</div>
</div>
<br>
<div class="row no-margin">
	<div class="col-sm-2">
		<label>Price USD:</label>
	</div>
	<div class="col-sm-2">
		<%= form.number_field :usd, :min => 0, :step => 0.01, :value => @calendar_post.usd || 100.00 %>
	</div>
</div>
<br>
<div class="row no-margin">
	<div class="col-sm-2">
		<label>Price RMB:</label>
	</div>
	<div class="col-sm-2">
		<%= form.number_field :rmb, :min => 0, :step => 0.01, :value => @calendar_post.rmb || 800.00 %>
	</div>
</div>
<br>
<div class="row no-margin">
	<div class="col-sm-2">
		<label>Image:</label>
	</div>
	<div class="col-sm-2">
		<%= form.file_field :cover_image %>
	</div>
</div>
<br>
<%= form.submit "Submit", :class => "btn btn-primary" %>
