<h1>Admin Trend Post</h1>

<hr/>

<% if @trend_posts.any? %>
  <%= link_to "New Trend Post", new_admin_trend_post_path, :class => "btn btn-primary" %>
  <% if @expired_posts_count > 0 %>
    <button id="remove-old" class="btn btn-danger">Delete <%= @expired_posts_count %> old posts</button>
  <% end %>
  <br/><br/>

  <%= form_for :filter, :url => admin_trend_posts_path, :method => :get, :html => {:class => "filter-form"} do |f| %>
      <label>Per Page:</label>
      <%= f.radio_button :per_page, 5, :checked => @per_page == 5 %>
      <%= f.label :per_page, 5, :value => 5 %>
      <%= f.radio_button :per_page, 10, :checked => @per_page == 10 %>
      <%= f.label :per_page, 10, :value => 10  %>

      <%= f.submit 'Filter', :class => "btn btn-default"  %>
      <%= link_to 'Clear Filter', admin_trend_posts_path %>
  <% end %>
  <br/>
  <table class="table table-bordered">
    <thead>
        <tr>
          <th></th>
          <th>Title (English)</th>
          <th>中文标题</th>
          <th>Content (English)</th>
          <th>文章内容 （中文)</th>
          <th>Cover Image</th>
          <th>Main Image</th>
        </tr>
    </thead>
    <tbody>
      <% @trend_posts.each do |trend_post| %>
        <tr>
          <td>
            <%= link_to "Edit", edit_admin_trend_post_path(trend_post) %>
            |
            <%= link_to "Delete", admin_trend_post_path(trend_post), :data => {:confirm => 'Are you sure?'}, :method => :delete %>
          </td>
          <td><%= trend_post.title_en %></td>
          <td><%= trend_post.title_cn %></td>
          <td><%= trend_post.content_en %></td>
          <td><%= trend_post.content_cn %></td>
          <td><img src="<%= trend_post.cover_image %>" height = "50px" /></td>
          <td><img src="<%= trend_post.main_image %>" height="50px" /></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @trend_posts, :previous_label => 'Prev', :next_label => 'Next' %>
<% else %>
    <h2>No Record</h2>

    <br/>

    <%= link_to "Create a new on trend post now", new_admin_trend_post_path, :class => "btn btn-primary" %>
<% end %>

<br/><br/>

<p><%= link_to "Back", admin_root_path, :class => "btn btn-default" %></p>
<% content_for :end_of_body do %>
    <%= javascript_include_tag "admin/trend.js" %>
<% end %>