<!DOCTYPE html>
<html>
  	<head>
  	    <title><%= @page_title || "Kicks4Love Admin" %></title>
  	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  	    <meta name="viewport" content="width=device-width, initial-scale=1">
  	    <meta name="description" content="Kicks4Love Admin">
  	    <meta name="author" content="RHBoys">

        <!-- Custom CSS -->
        <%= stylesheet_link_tag "admin/admin.css" %>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">

        <!-- Third Party JS -->
        <%= javascript_include_tag "admin/admin.js" %>
        <script async src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
	  </head>
  	<body>
        <%= content_for :head %>

        <% if admin_user_signed_in? %>
            <div class="nav current-admin-user-bar">
           		  <div class="col-xs-8">
                    <strong><%= link_to 'Admin Home', admin_root_path %></strong> |
           			    <label>Login As</label>
                    <%= link_to current_admin_user.email, admin_admin_user_path(current_admin_user) %>
           		  </div>
           		  <div class="col-xs-4 text-right">
           			    <%= link_to "Logout", destroy_admin_user_session_path, :method => :delete %>
           		  </div>
           	</div>
        <% end %>

        <% if notice %>
              <div class="alert alert-success"><%= notice %></div>
        <% end %>
        <% if alert %>
              <div class="alert alert-danger"><%= alert %></div>
        <% end %>

        <div class="container">
    	      <%= yield %>
        </div>

        <%= content_for :end_of_body %>
  	</body>
</html>