<!DOCTYPE html>
<html>
  	<head>
	    <title><%= @page_title || "Kicks4Love Admin" %></title>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="Kicks4Love Admin Page">
	    <meta name="author" content="Liang-Hsuan Ma (Leon)">

	    <!-- Bootstrap Core CSS -->
	    <%= stylesheet_link_tag "bootstrap.min.css" %>

	    <%= content_for :head %>
	</head>
  	<body>
  		<% if flash[:notice] %>
		    <p style="color:green"><%= flash[:notice] %></p>
		<% elsif flash[:error] %>
		    <p style="color:red"><%= flash[:error] %></p>
		<% end %>

    	<%= yield %>
  	</body>
  	<%= javascript_include_tag "application.js" %>
  	<%= content_for :end_of_body %>
</html>