<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  	<head>
	    <title><%= @page_title || "Kicks4Love" %></title>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">

	    <!-- Third Party CSS -->
	    <%= stylesheet_link_tag "application.css" %>

	    <!-- Custom CSS -->
	    <%= stylesheet_link_tag "common.css" %>
	    <%= stylesheet_link_tag "landing-page.css" %>

	    <!-- Custom Fonts -->
	    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

	    <!-- Third Party JS -->
	    <%= javascript_include_tag "application.js" %>
	</head>
  	<body>

  		<%= content_for :head %>

      	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        	<div class="container-fluid">
          		<div class="navbar-header">
            		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	              		<span class="sr-only">Toggle navigation</span>
	              		<span class="icon-bar"></span>
	              		<span class="icon-bar"></span>
	              		<span class="icon-bar"></span>
            		</button>
            		<%= link_to image_tag("logo.png"), :root, :class => "navbar-brand" %>
          		</div>
          		<div id="navbar" class="navbar-collapse collapse">
            		<ul class="nav navbar-nav">
			            <li><%= link_to 'HOME', root_path %></li>
			            <li><%= link_to 'FEATURES', features_path %></li>
			            <li><a href="#">TREND</a></li>
			            <li class="dropdown">
                			<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MORE<span class="caret"></span></a>
                			<ul class="dropdown-menu">
		                  		<li><a href="#">UPCOMING</a></li>
		                  		<li><a href="#">ON-COURT</a></li>
		                  		<li role="separator" class="divider"></li>
		                  		<li class="dropdown-header">LEISURE/ENTERTAINMENT</li>
		                  		<li><a href="#">STREET-SNAP</a></li>
		                  		<li><a href="#">RUMORS</a></li>
               			 	</ul>
              			</li>
            		</ul>
            		<form class="navbar-form navbar-right" role="search">
			  			<div class="input-group">
					      	<input type="text" class="form-control" placeholder="What are you looking for?">
					      	<span class="input-group-btn">
					        	<button class="btn btn-secondary" type="button">GO</button>
					      	</span>
					    </div>
					</form>
          		</div>
        	</div>
        </nav>

    	<%= yield %>

    	<footer>
		    <div class="container">
		        <div class="row">
		            <div class="col-lg-12">
		                <ul class="list-inline">
		                    <li>
		    					<%= link_to 'Home', root_path %>
		                    </li>
		                    <li class="footer-menu-divider">&sdot;</li>
		                    <li>
		    					<%= link_to 'Features', features_path %>
		                    </li>
		                    <li class="footer-menu-divider">&sdot;</li>
		 					<li>
		   						<a href="trend.html">Trend</a>
		                    </li>
		                    <li class="footer-menu-divider">&sdot;</li>
		                    <li>
		                        <a href="upcoming.html">Upcoming</a>
		                    </li>
		                    <li class="footer-menu-divider">&sdot;</li>
		                    <li>
		                        <a href="oncourt.html">On-court</a>
		                    </li>
		                    <li class="footer-menu-divider">&sdot;</li>
		                    <li>
		                        <a href="streetsnap.html">Street-Snap</a>
		                    </li>
		                    <li class="footer-menu-divider">&sdot;</li>
		                    <li>
		                        <a href="rumors.html">Rumors</a>
		                    </li>
		                    <li class="footer-menu-divider">&sdot;</li>
		                    <li>
		                        <a href="aboutus.html">About Us</a>
		                    </li>
		                    <li class="footer-menu-divider">&sdot;</li>
		                    <li>
		                        <a href="contact.html">Contact us</a>
		                    </li>
		                </ul>
		                <p class="copyright text-muted small">Copyright &copy; Kicks4love 2015. All Rights Reserved</p>
		            </div>
		        </div>
		    </div>
		</footer>

		<%= content_for :end_of_body %>

  	</body>
</html>
